<div class="container">
	<div class="row">
		
		<div class="col s12 m8">
		
			<div id="write">
			<a href="post/new/<%= params[:id] %>", class: "right" >
			<span class="waves-effect waves-light btn">방명록 작성</span>
			</a>
			</div>
			<br><br>


		
		<% @posts_search.each do |post| %>
			<div class="card">
				<div class="card-content">
					
					<span class="right">
					<%= post.p_date %>
					</span>
						
					<p id="postName">작성자 <%= post.user.name %></p> 
							
					<p class="pre-line">
					<%= post.p_post %>
					</p>
					
				</div>
			</div>
		
		
		<% end %>	
			
			
			
			
			
			
			<% if @posts_search_count == 0 %>
			<div class="card">
			<div class="card-content">
			<p class="pre-line">첫번째 방명록을 작성보세요.</p>
			</div>
				</div>
			
			<% end %>
			
		</div>
	</div>
</div>

